*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background: rgb(15, 51, 15);
}


nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

nav ul:nth-child(1) li a{
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}

nav ul:nth-child(2) li a{
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}

nav ul:nth-child(2){
    display: flex;
    align-items: center;
    gap: 40px;
}



button{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: brown;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 100px auto;
    display: block;
}